.header{
    background-color: navy;
    color: white;
    padding: 20px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
}

.header__items {
    list-style: none;
}

.header__item {
    cursor: pointer;
}

.header__button {
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: none;
}

.header__button:hover {
    color: rgb(210, 210, 210);
}